doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.min.css" rel="stylesheet")
 
    title Formulario para Mesa de Ayuda
  body
    .container.mt-5
      form(method="post" action="/index")
        // Fecha y Hora de Solicitud
        .form-group
          label(for="fechaHoraSolicitud") Fecha y Hora de Solicitud:
          input(type="datetime-local", class="form-control", id="fechaHoraSolicitud", name="fechaHoraSolicitud")

        script.
          // Obtener la fecha y hora actual en el formato adecuado para el input
          const now = new Date();
          const year = now.getFullYear();
          const month = (now.getMonth() + 1).toString().padStart(2, '0');
          const day = now.getDate().toString().padStart(2, '0');
          const hours = now.getHours().toString().padStart(2, '0');
          const minutes = now.getMinutes().toString().padStart(2, '0');
          const formattedDate = `${year}-${month}-${day}T${hours}:${minutes}`;
          
          // Establecer el valor del campo de fecha y hora

          document.getElementById('fechaHoraSolicitud').value = formattedDate;
        // Fecha y Hora Finalizado
        .form-group
          label(for="fechaHoraFinalizado") Fecha y Hora Finalizado:
          input(type="datetime-local", class="form-control", id="fechaHoraFinalizado" , name="fechaHoraFinalizado")

        script.
          // Obtener la fecha y hora actual en el formato adecuado para el input
          const now1 = new Date();
          const year1 = now.getFullYear();
          const month1 = (now.getMonth() + 1).toString().padStart(2, '0');
          const day1 = now.getDate().toString().padStart(2, '0');
          const hours1 = now.getHours().toString().padStart(2, '0');
          const minutes1 = now.getMinutes().toString().padStart(2, '0');
          const formattedDate1 = `${year}-${month}-${day}T${hours}:${minutes}`;
          
          // Establecer el valor del campo de fecha y hora
          document.getElementById('fechaHoraFinalizado').value = formattedDate1;
        // Mes Finalizado
        .form-group
          label(for="mesFinalizado") Mes Finalizado:
          input(type="text", class="form-control", id="mesFinalizado" , name="mesFinalizado")
        script.
          // Obtener el número del mes actual
          const now2 = new Date();
          const monthNumber = now.getMonth() + 1;
          
          // Establecer el valor del campo Mes Finalizado
          document.getElementById('mesFinalizado').value = monthNumber;


        // Tipo de Solicitud
        .form-group
          label(for="tipoSolicitud") Tipo de Solicitud:
          select(class="form-control", id="tipoSolicitud", name="tipoSolicitud")
            option(value="Incidentes") Incidentes
            option(value="Requerimiento") Requerimiento
            option(value="Administrativo") Administrativo

        // Tipo de Atención
        .form-group
          label(for="tipoAtencion") Tipo de Atención:
          select(class="form-control", id="tipoAtencion",  name="tipoAtencion")
            option(value="Remoto") Remoto
            option(value="EnSitio") En Sitio

        // Estado
        .form-group
          label(for="estado") Estado:
          select(class="form-control", id="estado", name="estado")
            option(value="Resuelto") Resuelto
            option(value="Pendiente") Pendiente

        // Prioridad
        .form-group
          label(for="prioridad") Prioridad:
          select(class="form-control", id="prioridad" , name="prioridad")
            option(value="Alto") Alto
            option(value="Medio") Medio
            option(value="Bajo") Bajo

        // Descripción del Problema
        .form-group
          label(for="descripcionProblema") Descripción del Problema:
          textarea(class="form-control", id="descripcionProblema",  name="descripcionProblema",rows="4")

        // Solicitado Por
        .form-group
          label(for="solicitadoPor") Solicitado Por:
          select.form-control(id="solicitadoPor" name="solicitadoPor")
           each nombre in Object.keys(usuariosCargos)
              option(value=nombre)= nombre
         

         
        // Área
        .form-group
          label(for="area") Área:
          input(type="text", class="form-control", id="area" , name="area" )

        // Cargo
        .form-group
          label(for="cargo") Cargo:
          input(type="text", class="form-control", id="cargo" , name="cargo" )

        // Atendido Por
        .form-group
          label(for="atendidoPor") Atendido Por:
          select(class="form-control", id="atendidoPor" name="atendidoPor")
            option(value="HugoCorrea") Hugo Correa
            option(value="AnaIsabelMontes") Ana Isabel Montes

        // Solución
        .form-group
          label(for="solucion") Solución:
          textarea(class="form-control", id="solucion", name="solucion", rows="4")

        button(type="submit", class="btn btn-primary") Enviar

        
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js")  
    script(src="usuariosCargos.js")
    script(src="../typeahead.js")
    script(src="script.js")
    
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    
    
   



   

